{% extends 'five_crowns_scorecard/base.html' %}
{% block content %}

<h2>Five Crowns Player List</h2>


{% if players %}
<div>
    <table>
        <tr>
            <th>Player</th>
            <th>Minimum Score</th>
            <th>Average Score</th>
            <th>Maximum Score </th>
            
        </tr>
        
        {% for player in players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ min_score }}</td>
            <td>{{ avg_score }}</td>
            <td>{{ max_score }}</td>
         </tr>
         {% endfor %}
    </table>
</div>
{% else %}

    <p>You have no players on the scoreboard</p>
{% endif %}


{% endblock %}