{% extends 'five_crowns_scorecard/base.html' %}
{% block content %}

<h2 id="score_head">Five Crowns Player List</h2>


{% if players %}
<div>
    <table><!-- TODO test out django tables; or ways to set column width -->
        <tr>
            <th>Player</th>
            <th># of Games Played</th>
            <th>Minimum Score</th>
            <th>Average Score</th>
            <th>Maximum Score </th>
        </tr>
        
        {% for player in players %}
        <tr>
            <td class="name">{{ player.name }}</td>
            <td class="scores">{{ player.num_of_games }}</td>
            <td class="scores">{{ player.min_score.points__min }}</td>
            <td class="scores">{{ player.avg_score.points__avg|floatformat:2 }}</td>
            <td class="scores">{{ player.max_score.points__max }}</td>
         </tr>
         {% endfor %}
    </table>
</div>
{% else %}

    <p>You have no players on the scoreboard</p>
{% endif %}


{% endblock %}